name: Java CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        java_version: ['11']
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java_version }}
      - name: Build with Gradle
        run: ./gradlew check --scan --stacktrace
      - name: Archive test results
        if: failure()
        uses: actions/upload-artifact@v1
        with:
          name: junit_report_${{ matrix.os }}_${{ matrix.java_version }}
          path: build/reports/tests/test
